attrs==21.2.0
Automat==20.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
constantly==15.1.0
dnspython==1.16.0
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.1.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.20.3
pandas
pymongo==3.11.4
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
six==1.16.0
Twisted==21.2.0
txmongo==19.2.0
urllib3==1.26.4
Werkzeug==2.0.1
zope.interface==5.4.0
cffi==1.14.5
cryptography==3.4.7
Cython==0.29.23
joblib==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
queuelib==1.6.1
regex==2019.12.20
scikit-learn==0.22.2.post1
scipy==1.6.3
service-identity==18.1.0
threadpoolctl==2.1.0
toml==0.10.2
Unidecode==1.2.0
w3lib==1.22.0
azure-core==1.1.1
azure-cosmos==4.1.0
xlrd
openpyxl